// Btn
.btn {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 36px;

    white-space: nowrap;
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        outline: none;
    }

    &Primary {
        color: clr(light, outline);
        background-color: clr(primary, main);
        border-color: clr(primary, focus);

        &:hover,
        &:focus,
        &:active {
            color: clr(light, outline);
            background-color: clr(primary, hover);
            border-color: clr(primary, focus);
        }
    }
}
